@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-800;
}

/* Scrollbar sutil para tablas con overflow */
.thin-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
